body{
	margin: 0cm;
	padding: 0cm;
}

div#contenedorContenido{
	position: relative;
	width: 100%;
	/*border-style: solid;*/
}

/****************************************TOP********************************************************************/
div#contenedorTop{
	z-index: 99;
	position: fixed;
	top: 0cm;
	width: 100%;
	height: 3cm;
	background-color: rgb(241,129,3);
}

img#logoAlkes{
	position: absolute; left: -3cm; top: 0.2cm;
	width: 12cm;
	height: 2.5cm;
	cursor: pointer;
}

img#logoUsuario{
	position: absolute; left: 33.2cm; top: 0.4cm;
	width: 2cm;
	height: 2cm;
	border-radius: 1rem;
	transition: 1s ease-in-out;	
}

img#logoUsuario:hover{
	background-color: rgb(69,69,69);
	transition: 1s ease-in-out;
	border-radius: 1rem;
	cursor: pointer;
}

.contenedor_menu{
	z-index: 99;
	position: fixed; left: 20%;
	width: 100%;
	margin-top: 4.5%;	
}

.menu {
	margin:0px;
	padding:0px;
	margin-top: 3%;
	margin-left: 8cm;
	font-family: "Arial";
	font-size: 14px;
}

ul, ol {
	list-style:none;
}

.menu > li {
	float:left;
}

.menu li a {
	background: rgb(241,129,3);/*NARANJA*/
	color:#fff;
	text-decoration:none;
	padding:10px 30px;
	display:block;
}

.menu li a:hover {
	background-color: rgb(69,69,69);
	transform: scale(1.1);
	transition: 1s ease-in-out;
}

.menu li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.menu li:hover > ul {
	display:block;
	margin-left: -3.4%;
}

.menu li ul li {
	position:relative;
}

.menu li ul li ul {
	right:-140px;
	top:0px;
}
/****************************************TOP********************************************************************/

/****************************************CAPUSLA INFORMATIVA****************************************************/
div#capuslaInformativa{
	z-index: 1;
	position: relative;
	width: 100%;
	height: 8cm;
	margin-top: 3.1cm;
	background-color: rgb(69,69,69);
	overflow-y: auto;
}

h1#tituloCapsulaInformativa{
	position: relative; top: -0.3cm;
	text-align: center;
	color: rgb(255,255,255);
    font-family: sans-serif;  /*willians  */
    font-size: 1400;  /*willians */
}

/****************************************CAPUSLA INFORMATIVA****************************************************/

div#contenedorMedio{
	z-index: 1;
	position: relative; top: 0.2cm;
	width: 100%;
	height: 10cm;
	background-color: rgb(69,69,69);
}

/****************************************SALAS******************************************************************/
div#salas{
/*	margin-top: 0.1cm;*/
    position: static;
       width: 100%;
	height: 9.8cm;
	background-color: rgb(50,30,20);
	overflow-y: auto;
	border-style: solid;
	border-color: rgb(69,69,69);
}

h1#tituloSalas{
	margin-top: 0cm;
	text-align: center;
	color: rgb(0,0,0);
}

table#tablaSala{
	position: relative; top: -0.6cm; left: 0cm;
	width: 100%;
	border-collapse: collapse;
	border-bottom-style: solid;
	border-right-style: solid;

}

tr#colorFondo{
	text-align: center;
	font-weight: bold;
	background-color: rgb(69,69,69);
	color: rgb(255,255,255);
}

tr#colorDato{
	text-align: center;
}
/****************************************SALAS******************************************************************/

/****************************************VIDEO******************************************************************/
div#video{
    display: none;
    position: static;
	width: 15.1cm;
	height: 10cm;
	background-color: rgb(20,100,10); 
}
/****************************************VIDEO******************************************************************/

/****************************************INVITACIONES***********************************************************/
div#invitacion{
	position: static;
	width: 100%;
	height: 10cm;
	background-color: rgb(20,50,100);
}

h1#tituloInvitaciones{
	margin-top: 0cm;
	text-align: center;
	color: rgb(255,255,255);
}
/****************************************INVITACIONES***********************************************************/

/****************************************BANNER*****************************************************************/
div#banner{
	position: static;
	width: 100%;
	height: 14.1cm;
	margin-top: 0.1cm;
	background-color: rgb(0,10,200);
}
/****************************************BANNER*****************************************************************/

/****************************************CUMPLEAÑEROS DEL MES***************************************************/
div#cumpleMes{
	position: static;
	width: 100%;
	height: 8cm;
	background-color: rgb(0,100,200);
}

h1#tituloCumpleMes{
	margin-top: 0cm;
	text-align: center;
	color: rgb(255,255,255);
}
/****************************************CUMPLEAÑEROS DEL MES***************************************************/

/****************************************NUEVO INGRESO**********************************************************/
div#nuevoIngreso{
	position: static;
	width: 100%;
	height: 8cm;
	background-color: rgb(0,200,255);
}

h1#tituloNuevoIngreso{
	margin-top: 0cm;
	text-align: center;
	color: rgb(255,255,255);
}
/****************************************NUEVO INGRESO**********************************************************/

/****************************************INFOGRAFIA*************************************************************/
div#infografia{
	position: static;
	width: 100%;
	height: 6cm;
	background-color: rgb(100,20,255);
}
/****************************************INFOGRAFIA*************************************************************/

/****************************************FOLLETO INFORMATIVO****************************************************/
div#folletoInformativo{
	z-index: 1;
	position: absolute; top: 32.4cm;
	width: 10cm;
	height: 8cm;
	background-color: rgb(241,129,3);
}

h1#tituloFolletoInformativo{
	margin-top: 0cm;
	text-align: center;
	color: rgb(255,255,255);
}
/****************************************FOLLETO INFORMATIVO****************************************************/

/****************************************NUESTRAS PAGINAS*******************************************************/
div#nuestrasPaginas{
	z-index: 1;
	position: absolute; top: 32.4cm; left: 10.2cm;
	width: 15.1cm;
	height: 8cm;
	background-color: rgb(69,69,69);
}

h1#tituloNuestrasPaginas{
	margin-top: 0cm;
	text-align: center;
	color: rgb(255,255,255);
}

.slider {
	position: relative; left: 0cm; top: -1.5cm;
	width: 100%;
	height: 8cm;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 500%;	
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -125%;}
	45% {margin-left: -125%;}
	
	50% {margin-left: -250%;}
	70% {margin-left: -250%;}
	
	75% {margin-left: -375%;}
	100% {margin-left: -375%;}
}

a#enlaceAlkes{
	text-decoration: none;
	color: rgb(255,255,255);
}

div#alkes{
	position: relative; left: 0.5cm; top: 1cm;
	border-style: solid;
	width: 14cm;
	height: 6cm;
}

h1#tituloAlkes{
	position: relative; left: 6cm; top: -0.2cm;
}

img#imagenAlkes{
	position: relative; top: -1cm; left: 1cm;
	width: 3cm;
	height: 4cm;
	border-style: solid;
}

a#enlaceIEC{
	text-decoration: none;
	color: rgb(255,255,255);
}

div#caiman{
	position: relative; left: 0.5cm; top: 1cm;
	border-style: solid;
	width: 14cm;
	height: 6cm;
}

h1#tituloCaiman{
	position: relative; left: 5.5cm; top: -0.2cm;
}

img#imagenCaiman{
	position: relative; top: -1cm; left: 1cm;
	width: 3cm;
	height: 4cm;
	border-style: solid;
}

a#enlaceVenfruca{
	text-decoration: none;
	color: rgb(255,255,255);
}

div#venfruca{
	position: relative; left: 0.5cm; top: 1cm;
	border-style: solid;
	width: 14cm;
	height: 6cm;
}

h1#tituloVenfruca{
	position: relative; left: 5.5cm; top: -0.2cm;
}

img#imagenVenfruca{
	position: relative; top: -1cm; left: 1cm;
	width: 3cm;
	height: 4cm;
	border-style: solid;
}

a#enlaceFruttech{
	text-decoration: none;
	color: rgb(255,255,255);
}

div#fruttech{
	position: relative; left: 0.5cm; top: 1cm;
	border-style: solid;
	width: 14cm;
	height: 6cm;
}

h1#tituloFruttech{
	position: relative; left: 7.5cm; top: -0.2cm;
}

img#imagenFruttech{
	position: relative; top: -1cm; left: 1cm;
	width: 3cm;
	height: 4cm;
	border-style: solid;
}
/****************************************NUESTRAS PAGINAS*******************************************************/

/****************************************NUESTRAS REDES*********************************************************/
div#nuestrasRedes{
	z-index: 1;
	position: absolute; top: 32.4cm; left: 25.5cm;
	width: 10cm;
	height: 8cm;
	background-color: rgb(241,129,3);
}

h1#tituloNuestrasRedes{
	margin-top: 0cm;
	text-align: center;
	color: rgb(255,255,255);
}

img#imagenFacebook{
	display: block;
	margin-top: 0.5cm;
	margin-left: 4cm;
	transition: 2s ease-in-out;
}

img#imagenFacebook:hover{
	transition: 2s ease-in-out;
	transform: rotate(360deg);
	cursor: pointer;
}
/****************************************NUESTRAS REDES*********************************************************/

/****************************************COPY*******************************************************************/
div#copy{
	z-index: 1;
	position: absolute; top: 40.5cm; 
	width: 100%;
	height: 1cm;
	background-color: rgb(241,129,3);
}

h3#derechoAutor{
	position: relative; top: 0.2cm;
	text-align: center;
	margin: 0cm;
	color: rgb(255,255,255);
}
/****************************************COPY*******************************************************************/