@media only screen and (min-width: 1920px) and (max-width: 2500px){
	body{
		margin: 0cm;
		padding: 0cm;
		overflow-x: hidden;
	}

	div#contenedorContenido{
		position: relative;
		width: 50.8cm;
	}

	/****************************************TOP********************************************************************/

	img#logoAlkes{
		position: absolute; left: -3cm; top: 0.2cm;
		width: 12cm;
		height: 2.5cm;
		cursor: pointer;
	}

	img#logoUsuario{
		position: absolute; left: 48cm; top: 0.4cm;
		width: 2cm;
		height: 2cm;
		border-radius: 1rem;
		transition: 1s ease-in-out;	
	}

	img#logoUsuario:hover{
		background-color: rgb(69,69,69);
		transition: 1s ease-in-out;
		border-radius: 1rem;
		cursor: pointer;
	}

	.contenedor_menu{
		z-index: 99;
		position: fixed; left: 20%;
		width: 100%;
		margin-top: 4.5%;	
	}

	.menu {
		margin:0px;
		padding:0px;
		margin-top: 2%;
		margin-left: 13.5cm;
		font-family: "Arial";
		font-size: 14px;
	}

	ul, ol {
		list-style:none;
	}

	.menu > li {
		float:left;
	}

	.menu li a {
		background: rgb(241,129,3);/*NARANJA*/
		color:#fff;
		text-decoration:none;
		padding:10px 30px;
		display:block;
	}

	.menu li a:hover {
		background-color: rgb(69,69,69);
		transform: scale(1.1);
		transition: 1s ease-in-out;
	}

	.menu li ul {
		display:none;
		position:absolute;
		min-width:140px;
	}

	.menu li:hover > ul {
		display:block;
		margin-left: -3.4%;
	}

	.menu li ul li {
		position:relative;
	}

	.menu li ul li ul {
		right:-140px;
		top:0px;
	}
	/****************************************TOP********************************************************************/

	/****************************************CAPUSLA INFORMATIVA****************************************************/
	div#capuslaInformativa{
		position: relative;
		width: 50.7cm;
		height: 10cm;
		margin-top: 3.1cm;
		background-color: var( --gris2-color);
	}

	h1#tituloCapsulaInformativa{
		position: relative;
		text-align: center;
		color: rgb(255,255,255);
	}

	/****************************************CAPUSLA INFORMATIVA****************************************************/

	a#enlaceFruttech{
		text-decoration: none;
		color: rgb(255,255,255);
	}

	div#fruttech{
		position: relative; left: 0.5cm; top: 1cm;
		border-style: solid;
		width: 29.2cm;
		height: 6cm;
	}

	h1#tituloFruttech{
		position: relative; left: 16cm; top: -0.2cm;
	}

	img#imagenFruttech{
		position: relative; top: -1cm; left: 1cm;
		width: 3cm;
		height: 4cm;
		border-style: solid;
	}
	/****************************************NUESTRAS PAGINAS*******************************************************/

	/****************************************NUESTRAS REDES*********************************************************/


	h1#tituloNuestrasRedes{
		margin-top: 0cm;
		text-align: center;
		color: rgb(255,255,255);
	}

	img#imagenFacebook{
		display: block;
		margin-top: 0.5cm;
		margin-left: 4cm;
		transition: 2s ease-in-out;
	}

	img#imagenFacebook:hover{
		transition: 2s ease-in-out;
		transform: rotate(360deg);
		cursor: pointer;
	}
	/****************************************NUESTRAS REDES*********************************************************/




}/*FIN DEL MEDIA QUERY 1920PX DE ANCHO POR 2500PX ANCHO*/

/*******************************************************************************************************/
/*******************************************************************************************************/
@media only screen and (min-width: 1366px) and (max-width: 1919px){
	body{
	margin: 0cm;
	padding: 0cm;
	}

	div#contenedorContenido{
	position: relative;
	width: 100%;
	/*border-style: solid;*/
	}



	img#logoAlkes{
		position: absolute; left: -3cm; top: 0.2cm;
		width: 12cm;
		height: 2.5cm;
		cursor: pointer;
	}

	img#logoUsuario{
		position: absolute; left: 33.2cm; top: 0.4cm;
		width: 2cm;
		height: 2cm;
		border-radius: 1rem;
		transition: 1s ease-in-out;	
	}

	img#logoUsuario:hover{
		background-color: rgb(69,69,69);
		transition: 1s ease-in-out;
		border-radius: 1rem;
		cursor: pointer;
	}

	.contenedor_menu{
		z-index: 99;
		position: fixed; left: 20%;
		width: 100%;
		margin-top: 4.5%;	
	}

	.menu {
		margin:0px;
		padding:0px;
		margin-top: 3%;
		margin-left: 6.5cm;
		font-family: "Arial";
		font-size: 14px;
	}

	ul, ol {
		list-style:none;
	}

	.menu > li {
		float:left;
	}

	.menu li a {
		background: rgb(241,129,3);/*NARANJA*/
		color:#fff;
		text-decoration:none;
		padding:10px 30px;
		display:block;
	}

	.menu li a:hover {
		background-color: rgb(69,69,69);
		transform: scale(1.1);
		transition: 1s ease-in-out;
	}

	.menu li ul {
		display:none;
		position:absolute;
		min-width:140px;
	}

	.menu li:hover > ul {
		display:block;
		margin-left: -3.4%;
	}

	.menu li ul li {
		position:relative;
	}

	.menu li ul li ul {
		right:-140px;
		top:0px;
	}
	/****************************************TOP********************************************************************/

	/****************************************CAPUSLA INFORMATIVA****************************************************/
	div#capuslaInformativa{
		z-index: 1;
		position: relative;
		width: 100%;
		height: 8cm;
		margin-top: 3.1cm;
		background-color: rgb(69,69,69);
		overflow-y: auto;
	}

	h1#tituloCapsulaInformativa{
		position: relative; top: -0.4cm;
		text-align: center;
		color: rgb(255,255,255);
	}

	/****************************************CAPUSLA INFORMATIVA****************************************************/

	div#contenedorMedio{
		z-index: 1;
		position: relative; top: 0.2cm;
		width: 100%;
		height: 10cm;
		background-color: rgb(69,69,69);
	}

	/****************************************SALAS******************************************************************/
	
}/*FIN EL MEDIA QUERY 1366PX ANCHO X 1919PX ANCHO*/