:root {
    --naraja-color: rgb(241, 129, 3);
    --verder-color: rgb(36, 231, 17);
    --blanco-color: #fff;
    --vinotinto-color: rgb(100, 0, 0);
    --gris-color: rgb(67, 67, 67);
    --gris2-color: rgb(69, 69, 69);
    --gris-claro-color: rgb(215,215,215);
    --rojo-color: rgb(231,037,018);
    --negro-color: rgb(0,0,0);
}

html{
	margin: 0;
}
body{
	margin: 0;
}

div.contenedor{
	position: relative;
	height: 20cm;
}

/***********************************************/
table#tablaContenedorMenu{
	z-index: 2;
	position: relative; top: 0cm;
	float: right;
}
/*DISEÑO DEL MENU*/
.contenedor_menu{
	z-index: 99;
	position: fixed; left: 20%;
	width: 100%;
	margin-top: 4.5%;
}

.menu {
	margin:0px;
	padding:0px;
	margin-top: -2%;
	font-family: "Arial";
	font-size: 14px;
}

ul, ol {
	list-style:none;
}

.menu > li {
	float:left;
}

.menu li a {
	background: rgb(241,129,3);/*NARANJA*/
	color:#fff;
	text-decoration:none;
	padding:10px 30px;
	display:block;
}

.menu li a:hover {
	background-color: rgb(69,69,69);
	transform: scale(1.1);
	transition: 1s ease-in-out;
}

.menu li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.menu li:hover > ul {
	display:block;
	margin-left: -3.4%;
}

.menu li ul li {
	position:relative;
}

.menu li ul li ul {
	right:-140px;
	top:0px;
}
/*FIN DEL DISEÑO DEL MENU*/
/***********************************************/

/*INICIO DISEÑO CABECERA*/
div#contenedorCabecera{
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 3cm;
	background-color: rgb(241,129,3);/*NARANJA*/
}

div#contenedorLogo{
	position: relative; top: 0.1cm; left: -3.2cm;
	width: 30%;
	float: left;
}

div#contenedorNombreUsuario{
	position: relative; top: 0.7cm; left: -0.4cm;
	float: right;
	height: 0cm;
}

table#tabla_datos_inicio_de_sesion{
	position: relative; top: -2.6cm; left: 7.2cm;
	float: right;
}

img#iconoUsuario{

	cursor: pointer;
}

img#iconoRol{

	cursor: pointer;
}

img#iconoOrganizacion{

	cursor: pointer;
}

span#nombreUsuario{

	color: rgb(255,255,255);
}

span#nombreRol{

	color: rgb(255,255,255);
}

span#nombreOrganizacion{

	color: rgb(255,255,255);
}

img#iconoSalir{
	cursor: pointer;
	transition: 1s ease-in-out;
}

img#iconoSalir:hover{
	background-color: rgb(69,69,69);
	transition: 1s ease-in-out;
	cursor: pointer;
	border-radius: 1rem;
}

/*INICIO DISEÑO MENU VERTICAL*/
div#contenedorMenu{
	z-index: 1;
	position: relative; top: 4cm;
	width: 10cm;
	height: 17cm;
}
/*FIN DISEÑO MENU VERTICAL*/

/*INICIO DISEÑO CONTENEDOR CONTENIDO*/
div#contenedorContenidos{
	z-index: 1;
	position: relative; top: 3.2cm;
	width: 100%;
	height: 15.5cm;
	margin-top: 0cm;
	float: left;
	background-color: rgb(120,100,0);
}
/*FIN DISEÑO CONTENEDOR CONTENIDO*/

/*INICIO DISEÑO CONTENEDOR PIE DE PAGINA*/
div#contenedorPiePagina{
	z-index: 1;
	position: relative; top: 23.1cm;
	width: 100%;
	height: 10.4cm;
	clear: both;
	background-color: rgb(241,129,3);/*NARANJA*/
}

/*INICIO DISEÑO CONTENEDOR FOLLETO INFORMATIVO*/
div#contenedorFolletoInformativo{
	position: relative; top: 0.3cm; left: 0cm;
	width: 10cm;
	height: 8cm;
	float: left;
	background-color: rgb(255,255,255);
}

h1#tituloFolletoInformativo{
	text-align: center;
	font-family: "Arial";
}
/*FIN DISEÑO CONTENEDOR FOLLETO INFORMATIVO*/

/*INICIO DISEÑO CONTENEDOR LOGO EMPRESAS*/
div#contenedorLogoEmpresas{
	position: relative; top: 0cm; left: 0cm;
	width: 17cm;
	height: 8cm;
	background-color: rgb(69,69,69);
}

h1#tituloNuestrasPaginas{
	text-align: center;
	font-family: "Arial";
}


*/

.slider ul {
	display: flex;
	padding: 0;
	width: 500%;
	animation: cambio 10s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
/*FIN DISEÑO GALERIA DE IMAGENES*/
/*FIN DISEÑO CONTENEDOR LOGO EMPRESAS*/

/*INICIO DISEÑO CONTENEDOR REDES SOCIALES*/
div#contenedorRedesSociales{
	position: relative; top: -0.3cm; left: 0cm;
	width: 6.8cm;
	height: 8cm;
	float: right;
}

p#tituloNuestrasRedesSociales{
	text-align: center;
	font-size: 21.6px;
	font-family: "Arial";
	font-weight: bold;
	color: rgb(255,255,255);
}

div#contenedorLogoFacebook
{
	position: relative; left: 2.3cm; top: -0.2cm;
	width: 2cm;
	height: 2cm;
	margin-top: 0.6cm;
	transition: 2s all ease-in-out;
}

div#contenedorLogoInstagram
{
	position: relative; left: 2.3cm; top: -0.2cm;
	width: 2cm;
	height: 2cm;
	margin-top: 0.6cm;
	transition: 2s all ease-in-out;
}

div#contenedorLogoTwitter
{
	position: relative; left: 2.3cm; top: -0.2cm;
	width: 2cm;
	height: 2cm;
	margin-top: 0.6cm;
	transition: 2s all ease-in-out;
}

.efectoRotarRedesSociales:hover{
	transition: 2s all ease-in-out;
	transform: rotate(360deg);
	cursor: pointer;
}
/*FIN DISEÑO CONTENEDOR REDES SOCIALES*/

div#contenedorDerechoAutor{
	position: relative; top: 0cm;
}

h3#derechoAutor{
	text-align: center;
	color: rgb(255,255,255);
	font-family: "Arial";
}
/*FIN DISEÑO CONTENEDOR PIE DE PAGINA*/
