/* Version definitiva, sustituir a esta version */
:root {
    --blanco: #fff;
    --negro: #000;
    --naranja: rgb(241, 129, 3);
    --gris-claro: rgb(219, 220, 210);
    --gris-oscuro: rgb(69, 69, 69);
    --transparente: transparent;
}

html{
	margin: 0;
}

body{
	margin: 0px;
	padding: 0px;
}

a {
    color: var(--negro);
}

a:link {
    box-shadow: var(--negro);
}

a:visited {
    box-shadow: var(--negro);
}

a:hover {
    color: var(--negro);
}

a:active {
    box-shadow: var(--negro);
    background-color: transparent;
}
