/****************************************TOP********************************************************************/

.contenedorTop {
    z-index: 99;
    position: fixed;
    top: 0cm;
    width: 100%;
    height: 3cm;
    background-color: var(--naranja);
}

#logoAlkes{
    position: absolute; left: -3cm; top: 0.2cm;
    width: 12cm;
    height: 2.5cm;
    cursor: pointer;
}

#logoUsuario{
    position: absolute; left: 33.2cm; top: 0.4cm;
    width: 2cm;
    height: 2cm;
    border-radius: 1rem;
    transition: 1s ease-in-out;
}

#logoUsuario:hover{
    background-color: var(--gris-oscuro);
    transition: 1s ease-in-out;
    border-radius: 1rem;
    cursor: pointer;
}

.contenedor_menu{
    z-index: 99;
    position: fixed; left: 20%;
    width: 100%;
    margin-top: 4.5%;
}

.menu {
    margin:0px;
    padding:0px;
    margin-top: 3%;
    margin-left: 8cm;
    /*	font-size: 14px;*/
}

.menu ul {
    list-style: none;
}

.menu > li {
    float: left;
}

.menu li a {
    background: var(--naranja);
    color: var(--blanco);
    text-decoration: none;
    padding: 10px 30px;
    display:block;
}

.menu li a:hover {
    background-color: var(--gris-oscuro);
    transform: scale(1.1);
    transition: 1s ease-in-out;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}


.menu li:hover > ul {
    display:block;
}

.menu li ul li {
    position: relative;
}

/*
.menu li ul li ul {
        right:-140px;
        top:0px;
}
*/

.menu li ul li.menu-desp1:hover > ul  {
    right:-140px;
    top:0px;
}

.menu li ul li.menu-desp2:hover > ul  {
    right:-250px;
    top:0px;
}

.menu li ul li.menu-desp3:hover > ul  {
    right:-200px;
    top:0px;
}
.menu li ul li.menu-desp4:hover > ul  {
    right:-360px;
    top:0px;
}
.menu li ul li.menu-desp5:hover > ul  {
    right:-340px;
    top:0px;
}
.menu li ul li.menu-desp6:hover > ul  {
    right:-260px;
    top:0px;
}
.menu li ul li.menu-desp7:hover > ul  {
    right:-260px;
    top:0px;
}


/****************************************TOP********************************************************************/
