/*CONTENEDOR CALENDARIO*/
.contenedor_calendario {
	z-index: 1;	
	position: absolute; width: 80%; height: 80%; top: 25%; left: 10%;
}

select{
	position: relative; left: 40%;
}

h1, h4, h5{
	text-align: center;
}

#titulo_mes{
	background-color: var(--gris-claro-color);
}

#cb_año {
    position: relative; left: 0%; top: 0%;
	width: 100px;
	height: 30px;
}

#cb_sala {
    position: relative; left: 0%; top: 0%;
	width: 150px;
	height: 30px;
}

#cb_usuario {
    position: relative; left: 0%; top: 0%;
	width: 150px;
	height: 30px;
}

#cb_organizacion {
    position: relative; left: 0%; top: 0%;
	width: 150px;
	height: 30px;
}

td[id="numero"]{
	background-color: var(--gris-claro-color);
	border-radius: 1rem;
}

td[id="numero"]:hover{
	background-color: var(--gris-color);
	cursor: pointer;
	color: var(--blanco-color);
}
/*FIN CONTENEDOR CALENDARIO*/


/*INICIO CONTENEDOR LISTA*/
.contenedor_lista{
	z-index: 1;	
	position: absolute; width: 56%; height: 102%; top: 0%; left: 52%;
	display: none;
}

#tabla_disponibilidad {
    width: 100%;
}

#titulo_disponibilidad{
	background-color: var(--gris-claro-color);
}

#titulo_lista{
	background-color: var(--negro-color);
	color: var(--blanco-color);
}

#fondo:hover{
	background-color: var(--gris-color);
	color: var(--blanco-color);
}

#fondo{
	background-color: var(--gris-claro-color);
}

.reservar {
    padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--verder-color);
}

.red {
    background-color: var(--rojo-color);
}

.cerrar {
    padding: 1rem;
	border-radius: 0.5rem;
	background-color: var(--verder-color);
}

.cerrar:hover {
    background-color: var(--gris2-color);
    color: var(--blanco-color);
}



/*FIN CONTENEDOR LISTA*/










