<!DOCTYPE html>

<html lang="es">

<head>
	<title>Intranet Alkes Corp, S.A</title>

	<meta name="viewport" content="width=device-width,device-height initial-scale=1.5"/>
	<meta name="copyright" content="Copyright © 2018 Intranet Corporativa Rights Reserved.">
	<meta charset="utf-8">
	
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
             integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
             crossorigin="anonymous"/>

	<link rel="stylesheet" type="text/css" href="css/index/index.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="css/index/indexNoticiaCapsulaInformativa.css" media="all"/>
	
    <link rel="stylesheet" type="text/css" href="css/structura/top.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/structura/media.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="css/structura/structura.css" media="all"/>




    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.js"></script>
	
</head>

<body>

<!--INICIO CONTENEDOR TOP-->
<header class="contenedorTop">

    <a href="index.html">
        <img id="logoAlkes" src="imagenes/top/logoAlkes.png">
    </a>
    <a href="login.php">
        <img id="logoUsuario" src="imagenes/top/usuario.png">
    </a>
    
    <ul class="menu">							
        <!--OPCION ACTUALIDAD-->
        <li>
            <a href="#" title="">Actualidad</a>

            <!--SUBMENU DE ACTUALIDAD-->
            <ul>
                <li>
                    <a id="upa"   href="#" title="">Últimos proyectos y acuerdos</a>
                </li>
                <li>
                    <a id="upa"   href="#" title="">Próximos eventos</a>
                </li>
                <li>
                    <a href="#" title="">Boletín de noticias</a>
                </li>
            </ul>
            <!--FIN DEL SUBMENU ACTUALIDAD-->

        </li>
        <!--FIN DE LA OPCION ACTUALIDAD-->

        <!--OPCION INFORMACION-->
        <li>
            <a href="#" title="">Informacion</a>

            <!--SUBMENU DE INFORMACION-->
            <ul>
                <li>
                    <a href="#" title="">Mensajes de la CEO</a>
                </li>
                <li>
                    <a href="#" title="">Misión y Visión Corporativa</a>
                </li>
                <li>
                    <a href="#" title="">Directorio de la organización</a>
                </li>
                <li>
                    <a href="#" title="">Políticas y procedimientos</a>
                </li>
                <li>
                    <a href="#" title="">Resultados generales</a>
                </li>
            </ul>
            <!--FIN DEL SUBMENU INFORMACION-->

        </li>
        <!--FIN DE LA OPCION INFORMACION-->

        <!--OPCION INFORMACION PARA EL TRABAJO-->
        <li>
            <a href="#" title="">Informacion para el trabajo</a>

            <!--SUBMENU DE INFORMACION PARA EL TRABAJO-->
            <ul>
                <li>
                    <a href="#" title="">Acceso a documentos, estudios, informes</a>
                </li>
                <li>
                    <a href="#" title="">Manuales y procedimientos de trabajo</a>
                </li>
                <li>
                    <a href="#" title="">Directorio de la organización</a>
                </li>
                <li>
                    <a href="#" title="">Políticas y procedimientos</a>
                </li> 
                <li>
                    <a href="#" title="">Informacion de Documentos de SIG</a>
                       <ul>
                           <li>
                               <a href="#" title="">Norma ISO  </a>
                                <ul>
                                    <li><a href="visorpdf.php?id=iso0" target="_blank">Norma BASC 4:2012</a></li>
                                    <li><a href="visorpdf.php?id=iso1" target="_blank">Norma ISO 22000:2005 </a></li>
                                    <li><a href="visorpdf.php?id=iso2" target="_blank">Norma ISO 19011:2011</a></li>
                                    <li><a href="visorpdf.php?id=iso3" target="_blank">Norma ISO 9001:2015</a></li>
                                    <li><a href="visorpdf.php?id=iso4" target="_blank">Norma ISO 9001:2008 </a></li>
                                    <li><a href="visorpdf.php?id=iso5" target="_blank">Norma ISO 9004:2010</a></li>
                                </ul>
                           </li>
                       </ul>
                </li>  					
            </ul>
            <!--FIN DEL SUBMENU INFORMACION PARA EL TRABAJO-->

        </li>
        <!--FIN DE LA OPCION INFORMACION PARA EL TRABAJO-->

        <li>
            <a href="directorio.php">Directorio</a>
        </li>


        <li>
            <a href="#" title="">Descargas</a>

            <ul>
                <li>
                    <a href="#" title="">Gestión Humana</a>

                    <ul>

                       <li>
                        <a href="php/Descargas.php?id=1" target="_blank">Formato Unico</a>
                       </li>

                     </ul>
                    <a href="#" title="">Mercadeo</a>
                    <a href="#" title="">Cuentas por Pagar</a>

                </li>

            </ul>

        </li>

        <li>
            <a href="../alkes/index.html">Reservar Sala De Reunion</a>
        </li>

    </ul>

</header>
<!--FIN CONTENEDOR TOP-->



<!--INICIO CONTENEDOR DE CONTENIDOS-->
<main class="contenedorContenido">

    <!--INICIO CAPSULA INFORMATIVA-->
    <div id="capuslaInformativa" class="container-fluid capuslaInformativa">

       <div class="row">
           <div class="col col-lg-12">
               <h1 class="tituloCapsulaInformativa">Capsula Informativa</h1>
           </div>
       </div>

        <div class="row">
            <a  v-for="item in list" class="n" :href="'detalleNoticiaAVIF.php?n=' + item.publicacion_id">
                <div class="contenedorNoticiaCapsulaInformativa">
                    <div class="tituloNoticiaCapsulaInformativa">'
                        <h5 class="tituloAvanceInformativo">{{ item.titulo }}</h5>
                    </div>
                    <div class="imagenAvanceInformativo">
                         <img id="imagenAvanceInformativo2" :src="item.imagen" alt="Avance informativo">
                    </div>
                </div>
            </a>
        </div>

    </div>

    <script type="text/javascript">

        const publicacionesUrl = 'php/index/consultaPublicacionesInfo.php';
        const capuslaInformativa = new Vue({
            el: '#capuslaInformativa',
            created: function() {
                this.getPublicaciones();
            },
            data: {
                list: []
            },
            methods: {
                getPublicaciones: function() {
                    this.$http.get(publicacionesUrl).then((responsed) => {
                        this.list = responsed.body;
                    });
                }
            }
        });

    </script>
    <!--FIN CAPSULA INFORMATIVA-->



    <!--INICIO VIDEO-->
    <div id="video" class="container-fluid video">
        <div class="row">
            <div class="col col-lg-3">
               <!--vacio-->
            </div>
            <div class="col col-lg-6">
                <video src="assets/video/POLITICA-20181212-173623.webm" type="video/webm" width="880" autoplay controls></video> 
            </div>
            <div class="col col-lg-3">
               <!--vacio-->
            </div>
        </div>
    </div>
    
    <script>
      const video = new Vue({
          el: '#video',
          created: function() {
               this.getPublicaciones();
          },
          data: {
              list: []
          },
           methods: {
                getPublicaciones: function() {
            
                }
           }
      });
    </script>
    <!--FIN VIDEO-->

   
   
    <!--INICIO INVITACION-->
    <div id="invitacion" class="container-fluid capuslaInformativa2">

       <div class="row">
           <div class="col col-lg-12">
               <h1 class="tituloCapsulaInformativa">Invitaciones</h1>
           </div>
       </div>

        <div class="row">
            <a  v-for="item in list" class="n" :href="'detalleNoticiaAVIF.php?n=' + item.publicacion_id">
                <div class="contenedorNoticiaCapsulaInformativa">
                    <div class="tituloNoticiaCapsulaInformativa">'
                        <h5 class="tituloAvanceInformativo">{{ item.titulo }}</h5>
                    </div>
                    <div class="imagenAvanceInformativo">
                         <img id="imagenAvanceInformativo2" :src="item.imagen" alt="Avance informativo">
                    </div>
                </div>
            </a>
        </div>

    </div>

    <script type="text/javascript">

            const invitacionUrl = 'php/index/consultaPublicacionesInvitaciones.php';
            const invitacion = new Vue({
                el: '#invitacion',
                created: function() {
                    this.getPublicaciones();
                },
                data: {
                    list: []
                },
                methods: {
                    getPublicaciones: function() {
                        this.$http.get(invitacionUrl).then((responsed) => {
                            this.list = responsed.body;
                        });
                    }
                }
            });

    </script>
    <!--FIN CAPSULA INVITACION-->


    <!--INICIO SALAS-->
    <div id="salas" class="container-fluid salas">
       
       <div class="row">
           <div class="col col-lg-12">
               <h1 class="tituloCapsulaInformativa2">Salas Reservadas Hoy</h1>
           </div>
       </div>
       
        <div class="row">
            <div class="col col-lg-3">
               <!--vacio-->
            </div>
            <div class="col col-lg-6">
                <table class="tablaSala" border="0">
                    <tr class="colorFondo">
                        <td>Dia</td>
                        <td>Mes</td>
                        <td>Año</td>
                        <td>Sala</td>
                        <td>Inicio</td>
                        <td>Fin</td>
                        <td>Usuario</td>
                        <td>Estado</td>
                    </tr>
                    <tr class="colorDato" v-for="item in list">
                        <td>
                            <h5>{{ item.dia }}</h5>	
                        </td>
                        <td>
                            <h5>{{ item.mes }}</h5>	
                        </td>
                        <td>
                            <h5>{{ item.ano }}</h5>	
                        </td>
                        <td>
                            <h5>{{ item.salas }}</h5>	
                        </td>
                        <td>
                            <h5>{{ item.hora_inicio }}</h5>			
                        </td>
                        <td>
                            <h5>{{ item.hora_final }}</h5>	
                        </td>
                        <td>
                            <h5>{{ item.usuario }}</h5>	
                        </td>
                        <td>
                            <h5>{{ item.reservado }}</h5>	
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col col-lg-3">
               <!--vacio-->
           </div>
        </div>
        
    </div>

    <script type="text/javascript">

        const salasUrl = 'php/index/consultaSalas.php';
        const salas = new Vue({
            el: '#salas',
            created: function() {
                this.getSalas();
            },
            data: {
                list: []
            },
            methods: {
                getSalas: function() {
                    this.$http.get(salasUrl).then((responsed) => {
                        this.list = responsed.body;
                    });
                }
            }
        });

    </script>
    <!--FIN SALAS-->

   
   
   
    <!--INICIO CUMPLEAÑEROS DEL MES-->
    <div id="cumpleMes" class="container-fluid capuslaInformativa2">

       <div class="row">
           <div class="col col-lg-12">
               <h1 class="tituloCapsulaInformativa">Cumpleañero del mes</h1>
           </div>
       </div>

        <div class="row">
            <a  v-for="item in list" class="n" :href="'detalleNoticiaAVIF.php?n=' + item.publicacion_id">
                <div class="contenedorNoticiaCapsulaInformativa">
                    <div class="tituloNoticiaCapsulaInformativa">'
                        <h5 class="tituloAvanceInformativo">{{ item.titulo }}</h5>
                    </div>
                    <div class="imagenAvanceInformativo">
                         <img id="imagenAvanceInformativo2" :src="item.imagen" alt="Avance informativo">
                    </div>
                </div>
            </a>
        </div>

    </div>

    <script type="text/javascript">

        const cumpleMesnUrl = 'php/index/consultaPublicacionesCumpleMes.php';
        const cumpleMes = new Vue({
            el: '#cumpleMes',
            created: function() {
                this.getPublicaciones();
            },
            data: {
                list: []
            },
            methods: {
                getPublicaciones: function() {
                    this.$http.get(cumpleMesnUrl).then((responsed) => {
                        this.list = responsed.body;
                    });
                }
            }
        });

    </script>
    <!--FIN CUMPLEAÑEROS DEL MES-->
    
    
    
    

    <!--INICIO CANVAS-->
    <div class="canvas">
        <iframe 
            class="iFrameKey" 
            src="js/index/animate.html" 
            scrolling="no"
            name="Costelacion" 
            allowfullscreen="true" 
            sandbox="allow-forms allow-modals allow-pointer-lock allow-popups allow-same-origin allow-scripts" 
            allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor" 
            allowtransparency="true" 
            allowpaymentrequest="true">
        </iframe>
    </div>
    <!--FIN CANVAS-->

   
   
   
    <!--INICIO NUEVO INGRESO-->
    <div id="nuevoIngreso" class="container-fluid capuslaInformativa2">

       <div class="row">
           <div class="col col-lg-12">
               <h1 class="tituloCapsulaInformativa">Nuevo ingreso</h1>
           </div>
       </div>

        <div class="row">
            <a  v-for="item in list" class="n" :href="'detalleNoticiaAVIF.php?n=' + item.publicacion_id">
                <div class="contenedorNoticiaCapsulaInformativa">
                    <div class="tituloNoticiaCapsulaInformativa">'
                        <h5 class="tituloAvanceInformativo">{{ item.titulo }}</h5>
                    </div>
                    <div class="imagenAvanceInformativo">
                         <img id="imagenAvanceInformativo2" :src="item.imagen" alt="Avance informativo">
                    </div>
                </div>
            </a>
        </div>

    </div>

    <script type="text/javascript">

        const nuevoIngresoUrl = 'php/index/consultaPublicacionesCumpleMes.php';
        const nuevoIngreso = new Vue({
            el: '#nuevoIngreso',
            created: function() {
                this.getPublicaciones();
            },
            data: {
                list: []
            },
            methods: {
                getPublicaciones: function() {
                    this.$http.get(nuevoIngresoUrl).then((responsed) => {
                        this.list = responsed.body;
                    });
                }
            }
        });

    </script>

    <!--INICIO INFOGRAFIA-->
    <div class="container-fluid infografia">
        <div class="row">
                <img src="assets/image/infografia.jpg" class="img-fluid image-infografia" alt="Infografia"/>
        </div>
    </div>
    <!--FIN INFOGRAFIA-->
    
</main>
    
<!--INICIO FOOTER-->
<footer class="container-fluid">

    <!--FILA 1-->
    <div class="row">

        <!--INICIO FOLLETO INFORMATIVO-->
        <div class="col col-lg-3 folletoInformativo">
            <h1 id="tituloFolletoInformativo">Folleto Informativo</h1>
            <img src="assets/image/infografia.jpg" class="img-fluid image-infografia" alt="Infografia"/>
        </div>

        <!--INICIO NUESTRAS REDES-->
        <div class="col col-lg-6 nuestrasPaginas">

           <!--TITULO -->
            <h1 id="tituloNuestrasPaginas">Nuestras Paginas</h1>

            <!--INICIO DIV EFECTO SLIDER-->
            <div class="slider">
                <ul>
                    <li>
                        <a class="link-slider" href="http://alkes-corp.com/index.php/es/" target="_blank">				  			
                            <div class="div-slider">
                                <img  class="image-slider" src="imagenes/footer/logo_alkes.png" alt=""/>
                            </div>
                        </a>
                    </li>		
                    <li>
                        <a class="link-slider" href="http://www.industriaselcaiman.com.ve/index.php/es/" target="_blank">				  			
                            <div class="div-slider">
                                <img class="image-slider" src="imagenes/footer/logo_iec.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="link-slider" href="http://venfruca.com/index.php/es/" target="_blank">				  			
                            <div class="div-slider">
                                <img class="image-slider" src="imagenes/footer/logo_venfruca.png" alt=""/>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="link-slider" href="http://www.fruttech.com/index.php/es/" target="_blank">				  			
                           <div class="div-slider">
                                <img class="image-slider" src="imagenes/footer/logo_fruttech.png" alt=""/>
                            </div>
                        </a>
                    </li>					
                </ul>
            </div>

        </div>

         <!--INICIO NUESTRAS REDES-->
        <div class="col col-lg-3 nuestrasRedes">
            <h1 id="tituloNuestrasRedes">Nuestras Redes Sociales</h1>
            <img id="imagenFacebook" class="efectoRotarRedesSociales" src="imagenes/footer/f.png" width="65">
            <img id="imagenFacebook" class="efectoRotarRedesSociales" src="imagenes/footer/instagram.png" width="65">
            <img id="imagenFacebook" class="efectoRotarRedesSociales" src="imagenes/footer/twitter.png" width="65">
        </div>
    </div>

    <!--FILA 2-->
    <div class="row">
        <!--INICIO COPYRING-->
        <div class="col-sm-12 copy">
            <h3 id="derechoAutor">Copyright © 2018 Intranet Corporativa Rights Reserved. </h3>
        </div>
    </div>

</footer>
<!--FIN FOOTER-->
    
</body>

</html>