








/*******************************IMAGEN PLANTILLA AVANCE INFORMATIVO*******************************/
.imagenAvanceInformativo{
	position: absolute;
	border-style: solid;
	width: 3.9cm;
	height: 3.9cm;
/*	background-image: url("../../imagenes/plantillas/png/avanceInformativo.png");*/
	background-repeat: no-repeat;
	background-position: 0cm 1.2cm;
	background-size: 5cm 2.7cm;
}

#imagenAvanceInformativo2 {
    display: block;
    position: relative;
    width: 3.9cm;
    height: 3.9cm;
}
/*******************************IMAGEN PLANTILLA AVANCE INFORMATIVO*******************************/

/*******************************IMAGEN PLANTILLA BOLETIN INFORMATIVO******************************/
div#imagenBoletinInformativo{
	position: absolute;
	border-style: solid;
	width: 9.9cm;
	height: 5.9cm;
	background-image: url("../../imagenes/plantillas/png/boletinInformativo.png");
	background-repeat: no-repeat;
	background-position: 0cm 1.2cm;
	background-size: 11cm 4.7cm;
}
/*******************************IMAGEN PLANTILLA BOLETIN INFORMATIVO******************************/

/*******************************IMAGEN PLANTILLA COMUNICADO***************************************/
div#imagenComunicado{
	position: absolute;
	border-style: solid;
	width: 9.9cm;
	height: 5.9cm;
	background-image: url("../../imagenes/plantillas/png/comunicado.png");
	background-repeat: no-repeat;
	background-position: 0cm 1.2cm;
	background-size: 11cm 4.7cm;
}
/*******************************IMAGEN PLANTILLA COMUNICADO***************************************/
/*******************************IMAGEN PLANTILLA INVITACION GENERAL*******************************/
div#imagenGeneral{
	position: absolute;
	border-style: solid;
	width: 9.9cm;
	height: 5.9cm;
	background-image: url("../../imagenes/plantillas/png/invitacionGeneral.png");
	background-repeat: no-repeat;
	background-position: 0cm 1.2cm;
	background-size: 11cm 4.7cm;
}
/*******************************IMAGEN PLANTILLA INVITACION GENERAL*******************************/