/**************************************** main ********************************************************************/


.contenedorContenido {
    position: relative;
    top: 3cm;
    width: 100%;
    height: auto;
}

/**************************************** main ********************************************************************/



.empresa {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
}



/****************************************CAPUSLA INFORMATIVA****************************************************/
.capuslaInformativa2 {
    position: relative;
    height: 10cm;
    background-color: var(--gris2-color);
    overflow-x: auto;
    padding: 0px;
    margin: 0px;
}

.capuslaInformativa {
    position: relative;
    height: 13cm;
    background-color: var(--gris2-color);
    overflow-x: scroll;
    padding: 0px;
    margin: 0px;
}

.tituloCapsulaInformativa {
    position: relative;
    top: 0.3cm;
    text-align: center;
    color: var(--blanco-color);
    font-family: sans-serif;
    /*willians  */
    font-size: 1400;
    /*willians */
}

.tituloCapsulaInformativa2 {
    position: relative;
    top: 0.3cm;
    text-align: center;
    color: var(--negro-color);
    font-family: sans-serif;
    /*willians  */
    font-size: 1400;
    /*willians */
}

.parent-pub {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8cm;
}

.n {
    text-decoration: none;
    color: var(--negro-color);
}

a {
    color: var(--negro-color);
}

a:link {
    box-shadow: var(--negro-color);
}

a:visited {
    box-shadow: var(--negro-color);
}

a:hover {
    color: var(--negro-color);
}

a:active {
    box-shadow: var(--negro-color);
    background-color: transparent;
}

.contenedorNoticiaCapsulaInformativa {
    position: relative;
    left: 0cm;
    top: 0cm;
    border-style: solid;
    border-width: 0.1px;
    width: 10cm;
    height: 6cm;
    box-shadow: 5px 5px 5px 5px;
    opacity: 0.7;
    transition: 1s ease-in-out;
    display: inline-block;
    margin-left: 1cm;
    margin-top: 1cm;
}

.contenedorNoticiaCapsulaInformativa:hover {
    opacity: 1;
    transition: 1s ease-in-out;
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 5px 5px 5px 5px var(--negro-color);
    border: none;
    text-decoration: none;
}

.contenedorNoticiaCapsulaInformativa:active {
    background-color: black;
}

.tituloNoticiaCapsulaInformativa {
    position: absolute;
    width: 10cm;
    height: 1.3cm;
    background: rgb(241, 129, 3);
    /*NARANJA*/
}

.tituloNoticiaCapsulaInformativa:hover {
    box-shadow: 5px 5px 5px 5px var(--negro-color);
    border: none;
    text-decoration: none;
}

.tituloAvanceInformativo {
    position: absolute;
    left: 0.2cm;
    top: -0.5cm;
    color: var(--blanco-color);
    font-weight: bold;
    font-size: 16px;
    font-family: "Arial";
}

.tituloAvanceInformativo:hover {
    box-shadow: 5px 5px 5px 5px var(--negro-color);
    border: none;
    text-decoration: none;
}

/****************************************CAPUSLA INFORMATIVA****************************************************/





/****************************************VIDEO******************************************************************/

.video {
    position: static;
    height: 18.5cm;
    padding-top: 50px;
    padding-bottom: 50px;
}

/****************************************VIDEO******************************************************************/





/****************************************SALAS******************************************************************/

.salas {
    position: static;
    width: 100%;
    height: 18.5cm;
    background-color: var(--blanco-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.tituloSalas {
    margin-top: 0cm;
    text-align: center;
    color: var(--negro-color);
}

.tablaSala {
    position: relative;
    top: 0.6cm;
    left: 0cm;
    width: 100%;
    border-collapse: collapse;
    border-bottom-style: solid;
    border-right-style: solid;
    overflow-y: scroll;
}

.colorFondo {
    text-align: center;
    font-weight: bold;
    background-color: var(--gris2-color);
    color: var(--blanco-color);
}

.colorDato {
    text-align: center;
}

/****************************************SALAS******************************************************************/




/****************************************CANVAS******************************************************************/

.resena {
    position: relative;
    height: 2cm;
    background-color: var(--naraja-color);
    padding: 0px;
    margin: 0px;
}

.canvas {
    width: 100%;
    height: 11cm;
    padding-left: 0px;
    padding-right: 0px;
}

.iFrameKey {
    position: relative;
    width: 100%;
    height: 11cm;
    border: none;
    overflow: hidden;
}

/****************************************CANVAS******************************************************************/




/**************************************** INICIO INFOGRAFIA*************************************************************/

.infografia {
    position: relative;
    height: auto;
    padding: 0px;
    margin: 0px;
    top: 0cm;
}

.image-infografia {
    position: relative;
    width: 100%;
}

/****************************************FIN INFOGRAFIA*************************************************************/





/**************************************** FOOTERR ***************************************************/

.footer {
    position: relative;
    top: 3cm;
}

.folletoInformativo {
    height: 10cm;
    background-color: var(--naraja-color);
}

h1#tituloFolletoInformativo {
    margin-top: 0cm;
    text-align: center;
    color: var(--blanco-color);
}

.nuestrasPaginas {
    height: 10cm;
    background-color: var(--gris2-color);
}

h1#tituloNuestrasPaginas {
    margin-top: 0cm;
    text-align: center;
    color: var(--blanco-color);
}

.slider {
    position: relative;
    left: 0cm;
    top: 0cm;
    width: 100%;
    height: 8cm;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 500%;
    animation: cambio 10s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -125%;
    }

    45% {
        margin-left: -125%;
    }

    50% {
        margin-left: -250%;
    }

    70% {
        margin-left: -250%;
    }

    75% {
        margin-left: -375%;
    }

    100% {
        margin-left: -375%;
    }
}

.link-slider {
    text-decoration: none;
    color: var(--blanco-color);
}

.div-slider {
    position: relative;
    left: 0px;
    top: 0cm;
    width: 100%;
    height: 8cm;
}

.title-slider {
    position: relative;
    left: 5.5cm;
    top: -0.2cm;
}

.image-slider {
    position: relative;
    top: 0cm;
    left: 0cm;
    width: 3cm;
    height: 4cm;
}

.nuestrasRedes {
    height: 10cm;
    background-color: var(--naraja-color);
}

h1#tituloNuestrasRedes {
    margin-top: 0cm;
    text-align: center;
    color: var(--blanco-color);
}

img#imagenFacebook {
    display: block;
    margin-top: 0.5cm;
    margin-left: 4cm;
    transition: 2s ease-in-out;
}

img#imagenFacebook:hover {
    transition: 2s ease-in-out;
    transform: rotate(360deg);
    cursor: pointer;
}

.copy {
    position: static;
    height: 2cm;
    background-color: var(--naraja-color);
}

h3#derechoAutor {
    position: relative;
    top: 0.2cm;
    text-align: center;
    margin: 0cm;
    color: var(--blanco-color);
}


/**************************************** FOOTER  ************************************************************/
