/* global */


:root {
    --blanco: #fff;
    --negro: #000;
    --naranja: rgb(241, 129, 3);
    --gris-claro: rgb(219, 220, 210);
    --gris-oscuro: rgb(69, 69, 69);
    --transparente: rgba(100, 100, 100, 0.2);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


/* contenido no desplegable */


.content-static {
    font-size: 16px;
    padding: 20px;
    -text-transform: uppercase;
    border-top: 1px solid var(--gris-claro);
}


/* menu-container */


#menu-container {
    position: relative;
    top: 3cm;
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 450px;
    background: var(--blanco);
    box-shadow: var(--transparente) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li:first-of-type {
    border-top: 0;
}


/* accordion */


/* esto es para los estilo del toggle */
.accordion-toggle {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid var(--gris-claro);
}

/* esto es para el div que queda activado */
.accordion-toggle.active-tab {
    background: var(--gris-oscuro);
    transition: all 0.3s ease;
}

/* esto es para el enlase que esta en toggle */
.accordion-toggle a.active {
    color: var(--blanco);
}

/* esto es para el signo + que gira */
.accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--gris-oscuro);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--gris-oscuro);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;

    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle a.active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: var(--blanco) !important;
}

.accordion-toggle a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: var(--blanco) !important;
    opacity: 0;
}

/* esto es para mostrar oculto todo los submenu */
.accordion-content {
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
    display: none;
}


/* accordion 2 */


/* esto es para los estilo del toggle */
.accordion-toggle2 {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
    padding: 20px;
    -text-transform: uppercase;
    border-top: 1px solid var(--gris-claro);
}

/* esto es para el div que queda activado */
.accordion-toggle2.active-tab {
    background: var(--naranja);
    transition: all 0.3s ease;
}

/* esto es para el enlase que esta en toggle */
.accordion-toggle2 a.active {
    color: var(--blanco);
}

/* esto es para el signo + que gira */
.accordion-toggle2 a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--gris-oscuro);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;
}

.accordion-toggle2 a:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--gris-oscuro);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;

    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle2 a.active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: var(--blanco) !important;
}

.accordion-toggle2 a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: var(--blanco) !important;
    opacity: 0;
}

/* esto es para mostrar oculto todo los submenu */
.accordion-content2 {
    cursor: pointer;
    font-size: 16px;
    position: relative;
    letter-spacing: 1px;
    display: none;
}


/* accordion 3 */


/* esto para regular el tamano de fuente en el toggle */
.accordion-toggle3 {
    font-size: 16px;
}

/* esto es para mostrar oculto todo los submenu */
.accordion-content3 {
    cursor: pointer;
    font-size: 14px;
    position: relative;
    letter-spacing: 1px;
    display: none;
}

/* esto es para el enlase que esta en toggle */
.accordion-toggle3 a.active {
    color: var(--naranja);
}
