/****************************INICIO DISEÑO VENTANA MODAL FORMULARIO************************************/
.contenedorFormulario {
    z-index: 1001;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.contenedorFormulario:target {
    opacity: 1;
    pointer-events: auto;
}


.cerrar {
    background: #606061;
    color: rgb(255, 255, 255);
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.cerrar:hover {
    background: rgb(67, 67, 67);
}

/****************************FIN DISEÑO VENTANA MODAL FORMULARIO************************************/

input#txtCodigoSubCategoriaBoletinInformativo {
    position: absolute;
    visibility: hidden;
}

input#txtCodigoOrganizacionBoletinInformativo {
    position: absolute; top: 3cm; left: 4.8cm;
    width: 2.1cm;
    height: 0.7cm;
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: rgb(255,255,255);
    font-weight: bold;
    font-size: 12px;
}

input#txtTituloBoletinInformativo {
    position: absolute; top: 2cm; left: 1cm;
    width: 6.2cm;
    height: 0.5cm;
    font-size: 14px;
    border-color: rgb(69,69,69);
    border-width: 1px;
}

textarea#txtContenidoBoletinInformativo {
    position: absolute; top: 5.4cm; left: 0.5cm;
    max-width: 6.2cm;
    max-height: 7.5cm;
    min-width: 7.2cm;
    min-height: 8.5cm;
    width: 7.2cm;
    height: 9.5cm;
    font-size: 14px;
    border-color: rgb(69,69,69);
}

input#ncaracteresBoletinInformativo {
    position: absolute;
    top: 15cm;
    left: 2cm;
    border:none;
    background-color: transparent;
    font-weight: bold;
}

label#tituloCaracteresBoletinInformativo {
    position: absolute;
    top: 15cm;
    left: 3cm;
    font-weight: bold;
}

input#btnImagenBoletinInformativo {
    position: absolute;
    width: 2.6cm;
    top: -0.3cm;
    left: 8.1cm;
    margin-top: 1cm;
    color: transparent;
}
img#bolimgSalida{
    position: absolute; top: 1.2cm; left: 8.1cm;
}

input#btnImagenBoletinInformativo1 {
    position: absolute;
    width: 2.6cm;
    top: 3.3cm;
    left: 8.1cm;
    margin-top: 1cm;
    color: transparent;
}
img#bolimgSalida1{
    position: absolute; top: 4.9cm; left: 8.1cm;
}

input#btnImagenBoletinInformativo2 {
    position: absolute;
    width: 2.6cm;
    top: 7cm;
    left: 8.1cm;
    margin-top: 1cm;
    color: transparent;
}
img#bolimgSalida2{
    position: absolute; top: 8.5cm; left: 8.1cm;
}
input#btnImagenBoletinInformativo3 {
    position: absolute;
    width: 2.6cm;
    top: 10.6cm;
    left: 8.1cm;
    margin-top: 1cm;
    color: transparent;
}
img#bolimgSalida3{
    position: absolute; top: 12.2cm; left: 8.1cm;
}
/*BOTON REGISTAR*/
#btnRegistrarBoletinInformativo {
    position: absolute; width: 45%; height: 15px; left: 1cm; top: 15.5cm;
    background: rgb(241,129,3);/*NARANJA*/
    color: rgb(255,255,255);
    font-weight: bold;
    border-radius: 0.5rem;
    border:none;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px #0A0A0A;
    transition: all 100ms linear;
    user-select: none;
    font-family: "Arial";
    font-size: 14px;
}



.contenedorFormulario > div#formularioBoletinInformativo {
    z-index: 1001;
    width: 10cm;
    height: 15.8cm;
    position: relative;
    top: 1cm;
    margin: 0% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: opacity 400ms ease-in-out;
    background-image: url("../../assets/image/plantillas/png/boletinInformativo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 13.1cm 17.3cm;
}


/*FIN DEL BOTON REGISTRAR*/