/****************************INICIO DISEÑO VENTANA MODAL FORMULARIO************************************/
.contenedorFormulario {
    z-index: 1001;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.logoCumpleMes {
    position: relative;
    top: 300px;
    left: 65%;
}
.contenedorFormulario:target {
    opacity: 1;
    pointer-events: auto;
}

.contenedorFormulario > div#formularioCumpleMes {
    z-index: 1001;
    width: 12cm;
    height: 15cm;
    position: relative;
    top: 1cm;
    margin: 0% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: opacity 400ms ease-in-out;
    background-image: url("../../assets/image/plantillas/png/cumpleMes.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 13.1cm 15.5cm;
}

.cerrar {
    background: #606061;
    color: rgb(255, 255, 255);
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.cerrar:hover {
    background: rgb(67, 67, 67);
}

/****************************FIN DISEÑO VENTANA MODAL FORMULARIO************************************/

input#txtCodigoSubCategoriaCumpleMes {
    position: absolute;
    visibility: hidden;
}

input#txtNombreCompletoCumpleMes {
    position: absolute;
    top: 11.5cm;
    left: 2.5cm;
    width: 7.8cm;
    height: 0.5cm;
    font-size: 14px;
    border-color: rgb(69, 69, 69);
}

input#txtFechaCumpleMes {
    position: absolute;
    top: 10.8cm;
    left: 6.8cm;
    width: 3.5cm;
    height: 0.5cm;
    font-size: 14px;
    border-color: rgb(69, 69, 69);
}
img#imgSalidaCumpleMes{
    position: absolute;
    top: 6cm;
    left: 2cm;
    border-radius: 50%;
}


select#txtDpto2 {
    position: absolute;
    top: 12.2cm;
    left: 4cm;
    width: 5.1cm;
    height: 0.8cm;
}

input#btnImagenCumpleMes {
    position: absolute;
    top: 9cm;
    left: 2.5cm;
    margin-top: 1cm;
    color: transparent;
}

/*input#btnImagen1CumpleMes {
    position: absolute;
    top: 7cm;
    left: 7cm;
    margin-top: 1cm;
    color: transparent;
}*/

/*BOTON REGISTAR*/
input#btnRegistrarCumpleMes {
    position: absolute;
    width: 50%;
    height: 20px;
    left: 3.3cm;
    top: 14.7cm;
    background: rgb(241, 129, 3);
    /*NARANJA*/
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px #0A0A0A;
    transition: all 100ms linear;
    touch-callout: none;
    user-select: none;
    font-family: "Arial";
    font-size: 14px;
}

/*EFECTO PARA QUE EL BOTON SE VEA TIPO 3D AL DAR CLICK*/
input#btnRegistrarCumpleMes:active {
    top: 14.7cm;
    box-shadow: 0px 0px 0px 0px #0A0A0A;
}

/*FIN DEL BOTON REGISTRAR*/
