.contenedorFormulario {
    z-index: 1001;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.logoNacimiento {
    position: relative;
    top: 430px;
    left: 180px;
}
.contenedorFormulario:target {
    opacity: 1;
    pointer-events: auto;
}

.contenedorFormulario > div#formularioNacimiento {
    z-index: 1001;
    width: 12cm;
    height: 15cm;
    position: relative;
    top: 1cm;
    margin: 0% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    transition: opacity 400ms ease-in-out;
    background-image: url("../../assets/image/plantillas/png/nacimiento.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 13.1cm 15.5cm;
}

.cerrar {
    background: #606061;
    color: rgb(255, 255, 255);
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.cerrar:hover {
    background: rgb(67, 67, 67);
}

/****************************FIN DISEÑO VENTANA MODAL FORMULARIO************************************/

input#txtCodigoSubCategoriaNacimiento {
    position: absolute;
    visibility: hidden;
}

input#txtNombreCompletoNacimiento {
    position: absolute;
    top: 4.9cm;
    left: 2.5cm;
    width: 7.8cm;
    height: 0.5cm;
    font-size: 14px;
    border-color: rgb(69, 69, 69);
}

textarea#txtContenidoNacimiento {
    position: absolute;
    top: 7.5cm;
    left: 5.8cm;
    max-width: 5.7cm;
    max-height: 2.5cm;
    min-width: 5.7cm;
    min-height: 2.5cm;
    width: 4cm;
    height: 2.5cm;
    font-size: 14px;
    border-color: rgb(69, 69, 69);
}

input#ncaracteresNacimiento {
    position: absolute;
    top: 10.3cm;
    left: 7cm;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

label#tituloCaracteresNacimiento {
    position: absolute;
    top: 10.3cm;
    left: 7.8cm;
    font-weight: bold;
    font-size: 11px;
}

input#btnImagenNacimiento {
    position: absolute;
    top: 10cm;
    left: 2.3cm;
    margin-top: 1cm;
    color: transparent;
}

img#imgSalidaNacimiento{
    position: absolute; top: 6.3cm; left: 2.10cm;
    width: 3.7cm;
    height: 4.5cm;
    border-radius: 50%;
}
/*BOTON REGISTAR*/
input#btnRegistrarNacimiento {
    position: absolute;
    width: 50%;
    height: 20px;
    left: 3.2cm;
    top: 14.7cm;
    background: rgb(241, 129, 3);
    /*NARANJA*/
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 0px 0px #0A0A0A;
    transition: all 100ms linear;
    touch-callout: none;
    user-select: none;
    font-family: "Arial";
    font-size: 14px;
}

/*EFECTO PARA QUE EL BOTON SE VEA TIPO 3D AL DAR CLICK*/
input#btnRegistrarNacimiento:active {
    top: 14.7cm;
    box-shadow: 0px 0px 0px 0px #0A0A0A;
}
