
.contenedorContenido {
    position: relative;
    top: 3cm;
    width: 100%;
    height: auto;
}

.contenidoAVIF {
    position: relative; top: 2cm;
    width: 100%;
    height: 9.7cm;
}

.contenidoPlantilla {
    position: relative; top: 0cm; left: 8cm;
    width: 20cm;
    height: 20cm;
}

.imagen-detalle {
    position: relative; top: 0cm; left: 0cm;
    width: 20cm;
    height: 20cm;
    background-repeat: no-repeat;
    background-position: 0cm 0cm;
    background-size: 100% 100%;
    box-shadow: 5px 5px 5px 5px;
}

.titulo {
    position: absolute; top: 6cm;
    font-family: Arial;
    font-size: 14;
}

.contenido {
    position: absolute; top: 18cm; left: 3.2cm;
    width: 11.4cm;
    height: 11.6cm;
    min-width: 11.4cm;
    max-width: 11.4cm;
    min-height: 11.6cm;
    max-height: 11.6cm;
    border-style: none;
    background-color: var(--transparente);
    font-family: Arial;
    font-size: 12;
}
.organizacion{
    position: absolute; top: 2.6cm; left: 7cm;
        width: 3cm;
        height: 3.6cm;
        min-width: 3cm;
        max-width: 6cm;
        min-height: 3.6cm;
        max-height: 6cm;
        border-style: none;
        color: rgba(255,255,255);
        background-color: var(--transparente);
        font-family: Arial;
        font-size: 12;
        
}
.requisitos{
    position: absolute; top: 2.6cm; right: 10cm left: 0.2cm;
        width: 6cm;
        height: 14cm;
        min-width: 4m;
        max-width: 6cm;
        min-height: 4cm;
        max-height: 14cm;
        border-style: none;
        display: 
        text-align: justify;
        background-color: ar(--transparente);
        font-family: Arial;
        font-size: 12;
}
.posiciones{
     position: absolute; top: 6cm; left: 7cm;
        width: 11cm;
        height: 5cm;
        min-width: 5m;
        max-width: 20cm;
        min-height: 4cm;
        max-height: 22cm;
        border-style: none
        text-align: justify;
        background-color: var(--transparente);
        font-family: Arial;
        font-size: 12;
}
.responsabilidades{
         position: absolute; top: 11.2cm; left: 7cm;
        width: 11cm;
        height: 5cm;
        min-width: 5m;
        max-width: 20cm;
        min-heights: 4cm;
        max-height: 22cm;
        border-style: none;
        text-align: justify;
        background-color:var(--transparente);
        font-family: Arial;
        font-size: 12;
        font-family: Arial;
}
.tituloCaracteresCorreo{
    position: absolute; top: 17cm; left: 0.2cm;
    font-weight: 100;
    background-color: var(--transparente);
    border-style: none;
    font-family: Arial;
    font-size: 12;
   
}
.correo{
      position: absolute; top: 17.5cm; left: 0.2cm;
    font-weight:100;
    background-color:var(--transparente);
    border-style: none;
    font-family: Arial;
    font-size: 12;
}
.valido{
       position: absolute; top: 18cm; left: 0.2cm;
    font-weight: 100;
    background-color: var(--transparente);
    border-style: none;
    font-family: Arial;
    font-size: 12; 
}



@media only screen and (min-width: 1920px) and (max-width: 2500px) {

    .contenidoAVIF {
        position: relative; top: 2.5cm;
        width: 100%;
        height: 9.7cm;
    }

    .contenidoPlantilla {
        position: relative; top: 0.1cm; left: 15cm;
        width: 20cm;
        height: 21.7cm;
    }

    .titulo {
        position: absolute; top: 5.5cm;
        font-family: Arial;
        font-size: 14;
    }

    .org {
	    position: absolute; top: 2.9cm; left: 7.5cm;
        font-size: 15px;
	    color: var(--blanco);
    }
    
    .contenido {
        position: absolute; top: 7.5cm; left: 0.1cm;
        width: 11.4cm;
        height: 11.6cm;
        min-width: 11.4cm;
        max-width: 11.4cm;
        min-height: 11.6cm;
        max-height: 11.6cm;
        border-style: none;
        background-color: var(--transparente);
        font-family: Arial;
        font-size: 12;
    }

   
}
