.contenedorContenido {
    position: relative;
    top: 3cm;
    width: 100%;
    height: auto;
}

.contenidoAVIF {
    position: relative; top: 2cm;
    width: 100%;
    height: 9.7cm;
}

.contenidoPlantilla {
    position: relative; top: 0cm; left: 8cm;
    width: 20cm;
    height: 20cm;
}

.contenidoPlantilla .imagen-detalle {
    position: relative; top: 0cm; left: 0cm;
    width: 20cm;
    height: 20cm;
    background-repeat: no-repeat;
    background-position: 0cm 0cm;
    background-size: 100% 100%;
    box-shadow: 5px 5px 5px 5px;
}

.contenidoPlantilla .titulo {
    position: absolute; top: 6cm;
    font-family: Arial;
    font-size: 14;
}

.contenidoPlantilla .contenido {
    position: absolute; top: 7.5cm; left: 0.1cm;
    width: 11.4cm;
    height: 11.6cm;
    border-style: none;
    background-color: var(--transparente);
    font-family: Arial;
    font-size: 12;
}

/* Agregar sangría a los parrafos con la class contenido*/
.contenido > p {
    text-indent: 40px;
}

@media only screen and (min-width: 1920px) and (max-width: 2500px) {

    .contenidoAVIF {
        position: relative; top: 2.5cm;
        width: 100%;
        height: 9.7cm;
    }

    .contenidoPlantilla {
        position: relative; top: 0.1cm; left: 15cm;
        width: 20cm;
        height: 21.7cm;
    }

    .contenidoPlantilla .titulo {
        position: absolute; top: 5.5cm;
        font-family: Arial;
        font-size: 14;
    }

    .contenidoPlantilla .contenido {
        position: absolute; top: 7.5cm; left: 0.1cm;
        width: 11.4cm;
        height: 11.6cm;
        border-style: none;
        background-color: var(--transparente);
        font-family: Arial;
        font-size: 12;
    }
    .contenido > p {
        text-indent: 40px;
    }

}