
.contenedorContenido {
    position: relative;
    top: 3cm;
    width: 100%;
    height: auto;
}

.contenidoAVIF {
    position: relative; top: 2cm;
    width: 100%;
    height: 9.7cm;
}

.contenidoPlantilla {
    position: relative; top: 0cm; left: 8cm;
    width: 20cm;
    height: 20cm;
}

.imagen-detalle {
    position: relative; top: 0cm; left: 0cm;
    width: 20cm;
    height: 20cm;
    background-repeat: no-repeat;
    background-position: 0cm 0cm;
    background-size: 100% 100%;
    box-shadow: 5px 5px 5px 5px;
}

.titulo {
    position: absolute; top: 4.5cm; left: 5cm;
    font-family: Arial;
    font-size: 14;
    text-align: center;
}

.contenido {
    position: absolute; top: 11cm; left: 4cm;
    width: 11.4cm;
    height: 11.6cm;
    min-width: 11.4cm;
    max-width: 11.4cm;
    min-height: 11.6cm;
    max-height: 11.6cm;
    border-style: none;
    background-color: var(--transparente);
    font-family: Arial;
    font-size: 12;
    text-align: center;
}

/* Agregar sangría a los parrafos con la class contenido*/
.contenido > p {
    text-indent: 40px;
}
.contenidoPlantilla .imagen-nino{
    position: absolute;
    top: 6cm;
    left: 4.9cm;
    width: 185px;
    height: auto;
    border-radius: 6em;
}

@media only screen and (min-width: 1920px) and (max-width: 2500px) {

    .contenidoAVIF {
        position: relative; top: 2.5cm;
        width: 100%;
        height: 9.7cm;
    }

    .contenidoPlantilla {
        position: relative; top: 0.1cm; left: 15cm;
        width: 20cm;
        height: 21.7cm;
    }

    .titulo {
        position: absolute; top: 4.5cm; left: 5cm;
        font-family: Arial;
        font-size: 14;
        text-align: center;
    }

    .org {
	    position: absolute; top: 2.9cm; left: 7.5cm;
        font-size: 15px;
	    color: rgb(255,255,255);
    }

    .contenido {
        position: absolute; top: 11cm; left: 4cm;
        width: 11.4cm;
        height: 11.6cm;
        min-width: 11.4cm;
        max-width: 11.4cm;
        min-height: 11.6cm;
        max-height: 11.6cm;
        border-style: none;
        background-color: var(--transparente);
        font-family: Arial;
        font-size: 12;
        text-align: center;
    }
    .contenido > p {
        text-indent: 40px;
    }
    .contenidoPlantilla .imagen-nino{
        position: absolute;
        top: 6cm;
        left: 4.9cm;
        width: 185px;
        height: auto;
        border-radius: 6em;
    }

}
